$bg-color: #eee;
$title: #1c204d;
$item: #44227a;
$item-line: #999;
$remove: #ff5e6a;
$button-bgc: #999;
$button-hover-bgc: #333;
$button-hover-color: #fff;


$bd-radius: 5px;


h1 {
    color: $title;
    font-size: 40px;
    margin-bottom: 25px;
}

h2 {
    color: $title;
    font-size: 24px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}