$bg-color: #0E1835;
$title: #0E1835;
$item: #44227a;
$item-line: #999;
$remove: #ff5e6a;
$button-bgc: #999;
$button-hover-bgc: #333;
$button-hover-color: #fff;
$white: #fff;
$title_l1: #111;
$title_l2: #333;
$title_l3: #999;
$content_l1: #777;
$main_color: #0E1835;
$nav_color: #3FAFB2;
$subnav_color: #91D8D8;
$select_color: #aaaaaa;

$bd-radius: 5px;

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, 'Microsoft JhengHei', sans-serif;
}

h1 {
    color: $title;
    font-size: 40px;
    margin-bottom: 25px;
}

h2 {
    color: $title;
    font-size: 28px;
    font-weight: 800;
}

h3 {
    color: $title;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

//for float
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

li, p, a {
    font-size: 16px;
}

//mixin
@mixin multiCol {
	display: inline-block;
	vertical-align: middle;
}

//統一格式的input樣式
@mixin inputStyle1 {
	width: 150px;
	border: 1px solid $title_l3;
	outline: transparent;
	box-sizing: border-box;
	padding: 5px;
	border-radius: 3px;
	height: 25px;
}

//統一格式的button樣式
@mixin buttonStyle1 {
    color: $white;
	background-color: $subnav_color;
	border: 1px transparent;
	border-radius: 3px;
	box-sizing: border-box;
	padding: 5px 10px;
    height: 25px;
    font-family: 'Microsoft JhengHei';


	&:hover {
		background-color: $main_color;
		color: $white;
		transition: .3s;
		cursor: pointer;
	}
}

//header
.blog-header {
    width: 100%;
    font-size: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: $bg-color;


    .blog-header___nav_acc {
        width: 90%;
        margin: 0 5%;
        
        > ul,
        > div {
            @include multiCol;
            width: 50%;
        }        
    }
}

.blog-header___nav {
    > li {
        @include multiCol;
        margin: 0 10px;

        > a {
            display: inline-block;
            font-size: 20px;
            font-weight: 700;
            color: $white;
            padding-bottom: 4px;
            border: 1px solid transparent;

            &:hover {
                border-bottom: 1px solid $white;
                
            }
        }
    } 

}

.blog-header___acc {
    text-align: right;

    > div {
        display: inline-block;
    }

    .if-login {

        > a,
        > div {
            @include multiCol;
        }

        > a {
            font-size: 14px;
        }

        .blog-header___createarticle{
            @include buttonStyle1;
            font-weight: 500;
            border: 1px solid transparent;

            &:hover {
                border: 1px solid #fff;
            }
        }   

        .blog-header___acc_img {  
            width: 35px;
            height: 35px;
            margin: 5px;

            img {
                width: 100%;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }
}

// !還沒做登入登出
.blog-header___acc {
    .blog-header___acc_loginsignup {
        display: none;
    }    
}



